            body{
                padding-bottom:1000px;
            }
            .header{
                display:flex;
                position:fixed;
                top:0px;
                right:0px;
                left:0px;
                flex-direction:row;
                border:solid;
                border-width-bottom:solid;
                border-color:gray;
                justify-content:space-between;
                background-color:white;
                color:white;
                height:40px;
                align-items:center;
                border-width:0.5px;
            }
            
            .home{
                margin-left:10px;
            }
            
            .officers{
                margin-right:10px;
                background-color:orange;
                color:white;
                border-radius:10px;
                padding:6px;
                font-weight:bold;    
                border:none;            
            }
            
            
                       
            .home{
                margin-left:10px;
                border-radius:10px;
                border:0.5px;
                padding:6px;
                font-weight:bold;
            }
            
            .faculty{
                border-radius:10px;
                border:0.5px;
                padding:6px;
                font-weight:bold;
            }
            